.mainVideo{
  width: 70%;
  background-color: yellow;
  height: 100vh;
}

#bvb{
  margin: 5% 15% 5% 15%;
}
#dropdown-basic{
width: 100%;
background-color: transparent;
color: black;
border: none;
}

.comments{
  width: 100% auto;
  min-width: 85%;
  margin: 0 5rem;
}
.comment{
  max-width: 100%;
}

img{
  width: 14rem;
  height: 10rem;
  background-color: transparent;
}

.title{
  text-align: center;
}
.body{
  background-color: yellow;
}

